@import 'bootstrap/dist/css/bootstrap.min.css';

.logo {
  border-radius: 50%;
}

.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  background-image: url(../src/assets/img/banner.png);
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}